
#check0,#check1,#check2,#check3,#check4
{
   display:block;
   position:relative;
   margin:4%;
   color:red;
   width:92% ;
   
}

#see
{
display: inline-block;
    color: gray;
    margin: auto;
    float: right;
    margin-top: 14px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#seeConfirmPassword
{
display: inline-block;
    color: gray;
    margin: auto;
    float: right;
    margin-top: 14px;
    cursor: pointer;
    transition-duration: 0.2s;
}




