<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="nav-business :: layout(~{::body})">
    <head>
        <title>Credit Card Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <form method="post" th:action="@{/card-application-business}" th:object="${cardApplicationBusiness}">
            <h1> Card Application</h1>  
            
            <label class='label'>Account Number</label>
            
            <div class="field">
               <select th:field="*{accountNumber}" id="accountNumber" required>
                   <option value="">Please Select</option>
                   <option th:each="account :${accounts}" th:value="${account}" th:text="${account}"></option>
                   <!-- Add more options as needed -->
               </select>
           </div>
            
            <h2 class="h2">Card Details</h2>
            
            <label class='label'>Card Type</label>
            
          
            <div class="field">
               <select th:field="*{cardType}" id="card" required>
                   <option value="" >Please Select</option>
                   <option value="MasterCard Gold">MasterCard Gold</option>
                   <option value="MasterCard Business">MasterCard Business</option>
                   <option value="MasterCard World">MasterCard World</option>
                   <option value="Visa Card">Visa Card</option>
               </select>
            </div>

            
            <label class='label' >Description</label>
            
            <div class="field">
                <input type="text" th:field="*{description}" placeholder="Please enter" required pattern="[A-Za-z0-9\s]+" title="Description isn't valid">
            </div>
            
            <label class="label">Please read and accept the Terms and Conditions</label>
            
            <br>
            
            <label class="label"><strong>Read Terms and Conditions</strong></label>
            
            <br>
            
                <label class='label'>
                  <input type="checkbox" name="checkbox" required>
                  I have read and agreed on the terms and conditions
                </label> 
            
            <br>
            
            <div class="button-credit-card">
                <button type="button" class="button" onclick="window.location.href='/business-dashboard'">Cancel</button>
                <button class="button" type="submit">Submit</button>
            </div>
            </form>

    </body>
</html>