<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="nav-business :: layout(~{::body})">
<head>
    <title>Change Password Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <!-- Form action updated to /register for final save -->
    <form th:action="@{/change-password-business}" method="post" th:object="${changePassword}">
        <h1>Change Password</h1>
        
            
             <div th:if="${errorUser}" id="errorUser" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 15px; margin-left: 170px; width: 15%; margin-top: 15px;">
                <span th:text="${errorUser}"></span>
            </div>

            <label class="label">Existing Password</label>
            
          
            <div class="field">
            <input type="password" th:field="*{oldPassword}" id="oldPassword" placeholder="Please Enter" required oninput>
            <i id="seeOldPassword" onclick="seeOldPassword()" class="far fa-eye" style="color: gray; cursor: pointer; transition-duration: 0.2s"></i>
            </div>
            
            <div th:if="${errorOldPassword}" id="errorOldPassword" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 15px; margin-left: 170px; width: 15%; margin-top: 15px;">
                <span th:text="${errorOldPassword}"></span>
            </div>

           <label class="label">New Password</label>

        <!-- Password -->
        <div class="field">
            <input type="password" th:field="*{newPassword}" id="password" placeholder="Please Enter" required oninput="check();validateForm();">
            <i id="see" onclick="see()" class="far fa-eye" style="color: gray; cursor: pointer; transition-duration: 0.2s"></i>
        </div>
        
        <!-- Password Validation Criteria -->
        
        <div style="margin-left: 170px; margin-top: 20px; margin-bottom: 10px; color: red;">
        <div id="check0">
            <i class="far fa-check-circle" ></i> <span> 8-16 characters</span>
        </div>  
        
        <div id="check1">
            <i class="far fa-check-circle"></i> <span> At least one number</span>
        </div>
        
        <div id="check2">
            <i class="far fa-check-circle"></i> <span> At least one uppercase and lowercase letter</span>
        </div>
        
        <div id="check4">
            <i class="far fa-check-circle"></i> <span> At least one special characters</span>
        </div>
        
        <div id="check3">
            <i class="far fa-check-circle"></i> <span> Shouldn't contain spaces</span>
        </div>
        </div>
            
        
       <label class="label">Confirm Password</label>

        <!-- Confirm Password -->
        <div class="field">
            <input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="Please Enter" placeholder="Confirm Password" oninput="validateForm();">    
            <i id="seeConfirmPassword" onclick="seeConfirmPassword()" class="far fa-eye" style="color: gray; cursor: pointer; transition-duration: 0.2s"></i>
        </div>

        
        <div th:if="${errorPassword}" id="errorPassword" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 15px; margin-left: 170px; width: 15%; margin-top: 15px;">
            <span th:text="${errorPassword}"></span>
        </div>
        
        <div th:if="${errorSamePassword}" id="errorSamePassword" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 15px; margin-left: 170px; width: 23%; margin-top: 15px;">
            <span th:text="${errorSamePassword}"></span>
        </div>
        
        <div th:if="${successPassword}" id="successPassword" class="alert alert-success" role="alert" style="font-size: 13px; padding: 15px; margin-left: 170px; width: 17%; margin-top: 15px;">
            <span th:text="${successPassword}"></span>
        </div>

            
        <div class="button-container" style="width: 15%; left: 72%; bottom: 20px;">
                <button class="button" type="submit" id="submitButton">Submit</button>
        </div>
        
    </form>
</body>
</html>
