<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::body})">
<head>
    <title>Password Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <!-- Form action updated to /register for final save -->
    <form class="formPassword" method="post" th:action="@{/reset-password}">
            <input type="hidden" name="token" th:value="${token}" />

        <h2>Set Password</h2>
        
        <div th:if="${errorMessage}" style="color: red; font-size: 14px;">
             <p th:text="${errorMessage}"></p>
        </div>
        
        <div th:if="${errorToken}" id="errorToken" class="alert alert-danger" role="danger" style="font-size: 13px; padding: 15px; margin-top: 15px;">
              <span th:text="${errorToken}"></span>
        </div>

        <!-- Password -->
        <div class="input-box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" id="password" name="password" placeholder="New Password" required oninput="check();checkPasswordMatch();validateForm();">            
            <i id="see" onclick="see()" class="far fa-eye"></i>
        </div>
        
        <!-- Password Validation Criteria -->
        
        <div id="check0">
            <i class="far fa-check-circle" ></i> <span>8-16 characters</span>
        </div>  
        
        <div id="check1">
            <i class="far fa-check-circle"></i> <span> At least one number</span>
        </div>
        
        <div id="check2">
            <i class="far fa-check-circle"></i> <span> At least one uppercase and lowercase letter</span>
        </div>
        
        <div id="check4">
            <i class="far fa-check-circle"></i> <span> At least one special characters</span>
        </div>
        
        <div id="check3">
            <i class="far fa-check-circle"></i> <span> Shouldn't contain spaces</span>
        </div>
        
        <!-- Confirm Password -->
        <div class="input-box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" oninput="checkPasswordMatch();validateForm();">    
            <i id="seeConfirmPassword" onclick="seeConfirmPassword()" class="far fa-eye"></i>
        </div>

            <div th:if="${errorNewPassword}" id="errorNewPassword" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 10px; width: 93%;">
                <span th:text="${errorNewPassword}"></span>
            </div>
        
            <div th:if="${errorResetPassword}" id="errorResetPassword" class="alert alert-danger" role="alert" style="font-size: 13px; padding: 10px; width: 60%;">
                <span th:text="${errorResetPassword}"></span>
            </div>
        
        <!-- Submit button -->
        <button class="button" type="submit" id="submitButton">Register</button>
        <button type="button" class="input-box button" onclick="window.location.href='/login'">Go Back</button>
    </form>
</body>
</html>
